/*Modal*/
.modal {
  border: none;
  border-radius: 20px;
  padding: 1rem 3rem;
}
.modal::backdrop {
  background-color: hsl(272, 59%, 54%, 0.25);
}
.modal .modal-content {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.modal .close-modal {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--white);
}
.modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.modal form h1 {
  font-size: var(--fs-heading);
  color: var(--ac-500-hover);
}
.modal form input {
  border: none;
  outline: none;
  border-bottom: 2px solid var(--ac-500-hover);
  font-size: var(--fs-body);
}
.modal form .login {
  outline: none;
  border: none;
  font-size: 1.4rem;
  background-color: var(--ac-500);
  cursor: pointer;
  color: var(--white);
  padding: 1rem;
  border-radius: 20px;
}
.modal form .login:hover {
  background-color: var(--ac-500-hover);
  transition: ease-in-out 0.5s;
}
.modal form p {
  margin: 0;
}
.modal form a {
  color: var(--ac-500);
}
.modal form a:hover {
  color: var(--ac-500-hover);
  transition: ease-in-out 0.5s;
}
