:root {
  --iphone-purple: hsl(272, 8%, 41%);
  --iphone-gold: hsl(24, 100%, 88%);
  --iphone-silver: hsl(0, 0%, 90%);
  --iphone-pink: hsl(10, 75%, 92%);
  --iphone-black: hsl(0, 0%, 18%);
  --iphone-red: hsl(351, 100%, 32%);
  --iphone-blue: hsl(211, 25%, 73%);
  --iphone-yellow: hsl(54, 96%, 79%);
  --iphone-green: hsl(114, 10%, 37%);
  --cut-offer: hsl(351, 68%, 35%);
}

.product-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
  padding: 3rem 2rem;
}
.product-section .color-options {
  display: flex;
  justify-content: space-between;
}
.product-section .color-options button {
  border-radius: 50%;
  border: 2px solid var(--white);
  outline: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.product-section .color-options button:hover {
  border: 3px solid var(--ac-500-hover);
  transition: ease-in-out 0.3s;
}
.color-options button {
  margin-right: 1rem;
}
.color-options .purple {
  background-color: var(--iphone-purple);
}
.color-options .gold {
  background-color: var(--iphone-gold);
}
.color-options .silver {
  background-color: var(--iphone-silver);
}
.color-options .pink {
  background-color: var(--iphone-pink);
}
.color-options .black {
  background-color: var(--iphone-black);
}
.color-options .red {
  background-color: var(--iphone-red);
}
.color-options .yellow {
  background-color: var(--iphone-yellow);
}
.color-options .blue {
  background-color: var(--iphone-blue);
}
.color-options .green {
  background-color: var(--iphone-green);
}
.product-section .product-content .cut-deal {
  color: var(--cut-offer);
}
.product-section .product-content .buy-button {
  background-color: var(--ac-500);
  border: none;
  outline: none;
  padding: 1rem;
  cursor: pointer;
  color: var(--white);
  border-radius: 50px;
}

.product-section .product-content .buy-button:hover {
  background-color: var(--ac-500-hover);
  transition: ease-in-out 0.3s;
}

@media (max-width: 1600px) {
  .product-section {
    gap: 5%;
    padding: 3rem 0;
  }
  .product-section img {
    width: 300px;
    height: 300px;
    object-fit: contain;
  }
}

@media (max-width: 500px) {
  .product-section {
    flex-direction: column;
  }
}
