.form-content {
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
form h1 {
  font-size: var(--fs-heading);
  color: var(--ac-500-hover);
}
form input {
  border: none;
  outline: none;
  border-bottom: 2px solid var(--ac-500-hover);
  font-size: var(--fs-body);
}
form .login {
  outline: none;
  border: none;
  font-size: 1.4rem;
  background-color: var(--ac-500);
  cursor: pointer;
  color: var(--white);
  padding: 1rem;
  border-radius: 20px;
}
form .login:hover {
  background-color: var(--ac-500-hover);
  transition: ease-in-out 0.5s;
}
form p {
  margin: 0;
}
form a {
  color: var(--ac-500);
}
form a:hover {
  color: var(--ac-500-hover);
  transition: ease-in-out 0.5s;
}

/*Cookie*/
.form-content .center {
  display: flex;
  color: var(--ac-500);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-content .center a {
  color: var(--ac-500);
  font-size: var(--fs-menu);
}
.form-content .center a:hover {
  transition: ease-in-out 0.5s;
  color: var(--ac-500-hover);
}
